.primary-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-weight: lighter;
    font-size: 5rem;
    line-height: 1;
    margin: 0;
}

.subtitle {
    font-weight: lighter;
    font-size: 2rem;
    margin: 0;
}

.highlight {
    color: $secondary-color;
}

.pfp {
    display: block;
    width: 400px;
    height: 400px;
    border: 2px solid #8878b9;
    border-radius: 50%;
}
.icon-list {
    margin-top: 1rem;
}

@media (max-width: $mantine-breakpoint-md) {
    .pfp {
        width: 200px;
        height: 200px;
    }
    .primary-content {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: 2rem;
    }
    .header {
        align-items: center;
    }
    .name {
        text-align: center;
    }
}
